
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,29,74,1) 46%, rgba(179,165,144,1) 100%);
}

header.theme-dark   { 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,29,74,1) 46%, rgba(179,165,144,1) 100%);
}

header.theme-dark  h1 { 
    color: var(--sky-400); 
}

section.theme-dark   { 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,29,74,1) 46%, rgba(179,165,144,1) 100%);
}

footer.theme-dark   { 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,29,74,1) 46%, rgba(179,165,144,1) 100%);
}

header .col-text h2, .col-1 > h3 { line-height: 1.8 }

/* slide animations */
.slide-left {
    width: 100%;
    overflow: hidden;
    max-width: 500px;
    animation: 2s slide-left;
  }
  
  @keyframes slide-left {
    from {
      margin-left: 500px;
    }
  
    to {
      margin-left: 0%;
    }
  }
  .slide-right {
    width: 100%;
    overflow: hidden;
    max-width: 500px;
    animation: 2s slide-right;
  }
  
  @keyframes slide-right {
    from {
      margin-left: -500px;
    }
  
    to {
      margin-left: 0%;
    }
  }